/*
Index
======
1. GENERIC STYLE
  1.1 TABLE
2. TYPO
  2.1 HEADINGS
  2.2 TEXT
3. HEADER
4. VOLET
5. TOOLBAR
  5.1 NAVIGATION ELEMENTS
  5.2 RELATED LINKS
6. PAGINATION SLIDE LINEAR LAYOUT
7. SLIDES
  7.1 COLUMN
  7.2 FREAKY DISC
8. TOOL BLOCK (SUMMARY & CONFIG)
  8.1 TOOLS ELEMENTS
9. CSS TRANSITIONS
*/


/* 'os-bold'    = 700 "museo-slab-1", "museo-slab-2" */
/* 'os-regular' = 500 "museo-slab-1", "museo-slab-2" */
/* 'os-light'   = 300 "museo-slab-1", "museo-slab-2" */

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'),
        url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'),
        url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'),
        url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'),
        url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/**
 * -------------------------
 * @section 1. GENERIC STYLE
 * -------------------------
 */

body {
  font-family: "museo-slab-1", "museo-slab-2", sans-serif;
  font-weight: 300;
  background-color: #032c36;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAMCAYAAAC0qUeeAAAAOElEQVR42mNgYGBgAmJ+IBYBYm4GAkAIiKWQMBc+xRJoigXxKRZGU4zXKUxQ00SBmI9h0IFhEaQAj8ADZ2F3CVYAAAAASUVORK5CYII="), radial-gradient(ellipse at center center , #1b4049 0%, #032c36 100%);
  background-repeat: repeat, no-repeat;
  color: #032c36;
  text-align: left;
}

a,
a:hover,
a:focus,
.btn,
.btn:hover,
.btn:focus,
button,
button:hover,
button:focus,
input,
input:hover,
input:focus {
  transition: all .3s ease-in;
}

a {
  color: #c42419;
}

a:hover,
a:focus {
  color: #971c13;
  text-decoration: none;
  transition: all .3s ease-out;
}

.btn:focus,
a:focus,
select:focus,
button:focus {
  outline: 2px solid #971c13;
}

button {
  background: none;
  border: 0;
}

.slide button {
  background: #c42419;
  border-radius: 3px;
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, .2);
  color: #efeee3;
  font-size: 90%;
  margin-bottom: 2px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2),
               2px 2px 2px rgba(0, 0, 0, .2);
  transition: all .6s ease-in;
}

.slide button:hover,
.slide button:focus {
  color: #fff;
  box-shadow: inset 999px 0 0 0 rgba(0, 0, 0, .2);
  transition: all .3s ease-out;
}

figcaption {
  font-size: 80%;
}

code,
kbd {
  border: 1px solid;
  border-radius: 2px;
  box-sizing: border-box;
  color: #c42419;
  font: 300 1em/1.5 "museo-slab-1", "museo-slab-2", sans-serif;
  padding: 0 .2em;
  white-space: nowrap;
}

h3 code,
h3 kbd {
  background: inherit;
}

pre code {
  border: 0;
  white-space: pre-wrap;
}

em, i,
strong, b,
blockquote {
  color: #01171d;
}

.hljs {
  padding: 10px;
}

#wrapper {
  padding: 0 12%;
}

.slide img {
  box-shadow: 0 0 3px #032c36;
  border: 3px solid #fff;
}


/** @subsection 1.1 TABLE **/

table {
  width: auto;
  min-width: 70%;
  margin: auto;
}

caption {
  padding: 5px;
  font-size: 150%;
  font-weight: bold;
  text-align: left;
  background: #efeee3;
}

thead {
  border-bottom: 1px solid #032c36;
}

tbody tr:nth-child(even) {
  background-color: #efeee3;
}

th {
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

td {
  padding: 10px;
  text-align: center;
}

/**
 * -------------------------
 * @section 2. TYPO
 * -------------------------
 */

/** @subsection 2.1 HEADINGS **/
h1, h2, h3, h4, h5, h6 {
  color: #01171d;
  -webkit-font-feature-settings: "liga", "dlig", "c2sc", "frac", "hist";
  -moz-font-feature-settings: "liga", "dlig", "c2sc", "frac", "hist";
  font-feature-settings: "liga", "dlig", "c2sc", "frac", "hist";
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

h2 {
  margin-bottom: 0;
  font-family: "bello-pro-1", "bello-pro-2", sans-serif;
  font-weight: 300;
  line-height: 1.1em;
}

h3 {
  margin: 0 0 20px .1em;
  font-style: italic;
  font-weight: 500;
  font-family: "museo-slab-1", "museo-slab-2", sans-serif;
}

h4,
h5,
h6 {
  margin: .3em;
}

/** @subsection 2.2 TEXT **/

.slide p,
.slide ul,
.slide ol,
.slide blockquote {
  margin: .2em 0 .5em 0;
  line-height: 150%;
}

.slide ul ul,
.slide ul ol {
  font-size: 100%;
  line-height: 100%;
}

.slide .small {
  font-size: 90%;
  font-weight: normal;
}

.slide .small * {
  font-size: 100%;
  font-weight: normal;
}

/**
 * -------------------------
 * @section 3. HEADER
 * -------------------------
 */

.main-header a,
.main-header h1 {
  color: #efeee3;
  font-family: "bello-pro-1", "bello-pro-2", sans-serif;
  font-size: 3vh;
  font-weight: 300;
  -webkit-font-feature-settings: "liga", "dlig", "c2sc";
  -moz-font-feature-settings: "liga", "dlig", "c2sc";
  font-feature-settings: "liga", "dlig", "c2sc";
  margin: .67em 0;
  text-rendering: optimizelegibility;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2),
               2px 2px 2px rgba(0, 0, 0, .2);
}

.main-header a {
  display: inline-block;
}

.modeplan .main-header {
  background: #fff;
  box-shadow: 0 2px 3px #bbb;
}

/**
 * -------------------------
 * @section 4. VOLET
 * -------------------------
 */

#volet {
  background: #fff;
}

/**
 * -------------------------
 * @section 5. TOOLBAR
 * -------------------------
 */

.modeplan .tool-bar {
  box-shadow: 0 -2px 3px #bbb;
  background: #fff;
}

/** @subsection 5.1 NAVIGATION ELEMENTS **/

.select-goto {
  border: 0;
  border-radius: 50px;
  color: #032c36;
  display: inline-block;
  float: none;
  margin: 0 1em 0 0;
  padding: .46em .5em;
  transition: all .3s ease-in;
  vertical-align: middle;
}

.slide-counter {
  position: static;
}

#cpt > div {
  background: linear-gradient(105deg, #fff 0%, #fff 50%, #efeee3 50%, #efeee3 100%);
  border-radius: 50px;
  height: auto;
  padding: .46em .5em;
  width: auto;
}

.slide-counter-current {
  color: #01171d;
}

.btn,
.related a,
.slide-counter > div {
  background: #efeee3;
  border-radius: 50%;
  color: #032c36;
  display: inline-block;
  height: 2em;
  padding: 0;
  text-decoration: none;
  width: 2em;
}

.btn:hover,
.btn:focus,
.related a:hover,
.related a:focus,
.select-goto:hover,
.select-goto:focus {
  background: #fff;
  box-shadow: 0 0 0 .5em rgba(0, 0, 0, .3);
}

.btn[disabled="disabled"]:hover,
.btn[disabled="disabled"]:focus {
  background: #efeee3;
  box-shadow: none;
  cursor: default;
}

.related a .icon {
  text-align: center;
  height: 2em;
  width: 2em;
}

.related a .icon::before {
  font-size: 150%;
  line-height: 1.4;
}

.btn .icon:before {
  line-height: 80%;
}

.btn .icon-prev::before {
    transform: translate( -.1em, 0);
}

.btn .icon-next::before {
    transform: translate( .1em, 0);
}

/** @subsection 5.2 RELATED LINKS **/

.related a img {
  position: relative;
  margin-top: -4px;
}

#navbar li,
.related li {
  display: inline-block;
  float: none;
  margin-left: 1em;
  vertical-align: middle;
}

li.tool-bar-elt,
div.tool-bar-elt {
  height: auto;
  overflow: visible;
}

/**
 * -------------------------
 * @section 6. PAGINATION SLIDE LINEAR LAYOUT
 * -------------------------
 */

.index {
  padding-top: 15px;
  border-radius: 0;
}

.index span {
  padding: 0;
  color: #fff;
  background-color: #032c36;
}

/**
 * -------------------------
 * @section 7. SLIDES
 * -------------------------
 */
.slide {
  background: #efeee3;
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 0 7px rgba(0, 0, 0, .2);
  padding: 2em;
}

.modeplan .slide {
  border-bottom: 2px solid #032c36;
  padding-top: 1em;
}

.couv,
.end {
  text-align: center;
  color: #032c36;
}

.credit {
  padding: 0;
}

.credit li {
  display: inline-block;
}

.credit a {
  padding: 2px 3px;
  border: 1px solid #efeee3;
  border-radius: 3px;
  text-decoration: none;
}

.credit a:hover,
.credit a:focus {
  background: orange;
  border: 1px solid #032c36;
}

/** @subsection 7.1 COLUMN **/

/** @subsection 7.2 FREAKY DISC **/

.list-disc {
  padding: 0;
}

.list-disc li {
  list-style: none;
}

button.disc {
  display: block;
  width: 100%;
  border: 0;
  padding-top: 85px;
}

button.disc1 {
  background: transparent url("../img/disc_1_gray.png") center top no-repeat;
}

button.disc1:hover,
button.disc1:focus {
  background: transparent url("../img/disc_1.png") center top no-repeat;
}

/**
 * -------------------------
 * @section 8. TOOL BLOCK (SUMMARY & CONFIG)
 * -------------------------
 */

.tool-block {
  background-color: #efeee3;
  color: #032c36;
  box-shadow: 0 0 10px #000;
}

.tool-block-title {
  padding-top: 5px;
  font-size: 1.2em;
  text-align: center;
  border-bottom: 1px dashed #032c36;
  text-transform: uppercase;
}

.tool-block li,
.tool-block label,
.tool-block select {
  font-size: .75em;
}

/** @subsection 8.1 TOOLS ELEMENTS **/

.tool-block-settings fieldset {
  border: 0;
}

.tool-block-settings legend {
  font-size: 1.5em;
  -webkit-font-feature-settings: "c2sc";
  -moz-font-feature-settings: "c2sc";
  font-feature-settings: "c2sc";
  font-variant: small-caps;
}

.help {
  border: 1px solid orange;
  border-radius: 5px;
  background: #032c36;
  color: #fff;
}

.tool-block button:hover,
.tool-block button:focus {
  color: #032c36;
}

.btn-setting { /* Save & Default button*/
  background-color: #032c36;
  border: 1px solid  #032c36;
  color: #fff;
}

.btn-setting:hover,
.btn-setting:focus {
  background: #efeee3;
  color: #032c36;
}

/**
 * -------------------------
 * @section 9. CSS TRANSITIONS
 * -------------------------
 */

#volet.Flash {
  background: #032c36;
}

@media screen and (min-width: 48em) {

  h2 {
    float: left;
    margin-bottom: .5em;
  }

  h2 + * {
    clear: both;
  }

  h3 {
    float: left;
    margin-bottom: 1em;
  }

  h3 + * {
    clear: both;
  }

  .col-left {
    float: left;
    width: 50%;
    padding: 0 5% 0 0;
  }

  .col-right {
    float: right;
    width: 50%;
    padding: 0 0 0 5%;
  }

  .list-disc li {
    float: left;
    width: 25%;
  }

}

@media screen and (max-width: 48em) and (min-width:24em) {

  .list-disc li {
    float: left;
    width: 50%;
  }

}

@media screen and (max-width: 48em) {

  .main-header h1 {
    font-size: 80%;
  }

  .main-header {
    background: #fff;
    padding: 5px;
    box-shadow: 0 2px 3px #bbb;
  }

  .tool-bar {
    box-shadow: 0 -2px 3px #bbb;
  }

  .related {
    background: #fff;
    border: 3px solid #efeee3;
    border-left: 0;
    border-bottom: 0;
  }

}

