/*
Index
======
1. GENERIC STYLE
  1.1 TABLE
2. TYPO
  2.1 HEADINGS
  2.2 TEXT
3. HEADER
4. VOLET
5. TOOLBAR
  5.1 NAVIGATION ELEMENTS
  5.2 RELATED LINKS
6. PAGINATION SLIDE LINEAR LAYOUT
7. SLIDES
  7.1 COLUMN
  7.2 FREAKY DISC
8. TOOL BLOCK (SUMMARY & CONFIG)
  8.1 TOOLS ELEMENTS
9. CSS TRANSITIONS
*/

/* @font-face
 * @note woff et woff2 suffisent largement
 * @see http://caniuse.com/#search=woff
 */
@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/fontawesome-webfont.woff2") format("woff2"),
       url("../fonts/fontawesome-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: "ffoodd";
    src: url("../fonts/logo-ffoodd.woff2") format("woff2"),
         url("../fonts/logo-ffoodd.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}


/**
 * -------------------------
 * @section 1. GENERIC STYLE
 * -------------------------
 */

body {
  font-family: "museo-slab-1", "museo-slab-2", sans-serif;
  font-weight: 300;
  background-color: #032c36;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAMCAYAAAC0qUeeAAAAOElEQVR42mNgYGBgAmJ+IBYBYm4GAkAIiKWQMBc+xRJoigXxKRZGU4zXKUxQ00SBmI9h0IFhEaQAj8ADZ2F3CVYAAAAASUVORK5CYII="), radial-gradient(ellipse at center center , #1b4049 0%, #032c36 100%);
  background-repeat: repeat, no-repeat;
  color: #032c36;
  text-align: left;
}

a,
a:hover,
a:focus,
.btn,
.btn:hover,
.btn:focus,
button,
button:hover,
button:focus,
input,
input:hover,
input:focus {
  transition: all .3s ease-in;
}

a {
  color: #c42419;
}

a:hover,
a:focus {
  color: #971c13;
  text-decoration: none;
  transition: all .3s ease-out;
}

.btn:focus,
a:focus,
select:focus,
button:focus {
  box-shadow: 0 0 0 .25em #971c13 !important;
  outline: none !important;
}

button {
  background: none;
  border: 0;
}

.slide button {
  background: #c42419;
  border-radius: 3px;
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, .2);
  color: #efeee3;
  font-size: 90%;
  margin-bottom: 2px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2),
               2px 2px 2px rgba(0, 0, 0, .2);
  transition: all .6s ease-in;
}

.slide button:hover,
.slide button:focus {
  color: #fff;
  box-shadow: inset 999px 0 0 0 rgba(0, 0, 0, .2);
  transition: all .3s ease-out;
}

figcaption {
  font-size: 80%;
}

code,
kbd {
  border: 1px solid;
  border-radius: 2px;
  box-sizing: border-box;
  color: #c42419;
  font: 300 1em/1.5 "museo-slab-1", "museo-slab-2", sans-serif;
  padding: 0 .2em;
  white-space: nowrap;
}

h3 code,
h3 kbd {
  background: inherit;
}

pre code {
  border: 0;
  white-space: pre-wrap;
}

em, i,
strong, b,
blockquote {
  color: #01171d;
}

blockquote {
  quotes: "\00AB\A0" "\A0\00BB" "\201C" "\201D";
  position: relative;
  z-index: 1;
}

blockquote::before {
  content: open-quote;
  font: 300 3em / .2em "bello-pro-1", "bello-pro-2", "Arial", sans-serif;
  left: -.6em;
  opacity: .3;
  position: absolute;
  top: -.1em;
  z-index: -1;
}

blockquote p {
  font-style: italic;
  font-weight: 500;
  font-size: 1.125em;
  line-height: 1.333;
}

blockquote p::after {
  content: close-quote;
  font: 300 1em "bello-pro-1", "bello-pro-2", "Arial", sans-serif;
  opacity: .3;
}

.hljs {
  background: none;
  color: #032c36;
  padding: 10px;
}

#wrapper,
.modeplan #wrapper {
  height: 80vh;
  overflow-x: hidden;
  padding: 0 12%;
}

.modeplan #wrapper {
  margin: 10vh 12%;
  padding: 0;
  width: 76%;
}

.modeplan .tool-bar,
.modeplan .main-header {
  height: 10vh;
}

.slide img {
  box-shadow: 0 0 3px #032c36;
  border: 3px solid #fff;
}


/** @subsection 1.1 TABLE **/

table {
  width: auto;
  min-width: 70%;
  margin: auto;
}

caption {
  padding: 5px;
  font-size: 150%;
  font-weight: bold;
  text-align: left;
  background: #efeee3;
}

thead {
  border-bottom: 1px solid #032c36;
}

tbody tr:nth-child(even) {
  background-color: #efeee3;
}

th {
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

td {
  padding: 10px;
  text-align: center;
}

/**
 * -------------------------
 * @section 2. TYPO
 * -------------------------
 */

/** @subsection 2.1 HEADINGS **/
h1, h2, h3, h4, h5, h6 {
  color: #01171d;
  -webkit-font-feature-settings: "liga", "dlig", "c2sc", "frac", "hist";
  -moz-font-feature-settings: "liga", "dlig", "c2sc", "frac", "hist";
  font-feature-settings: "liga", "dlig", "c2sc", "frac", "hist";
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

h2 {
  margin-bottom: 0;
  font-family: "bello-pro-1", "bello-pro-2", sans-serif;
  font-weight: 300;
  line-height: 1.1em;
}

h3 {
  margin: 0 0 20px .1em;
  font-style: italic;
  font-weight: 500;
  font-family: "museo-slab-1", "museo-slab-2", sans-serif;
}

h4,
h5,
h6 {
  margin: .3em;
}

/** @subsection 2.2 TEXT **/

.slide p,
.slide ul,
.slide ol,
.slide blockquote {
  margin: .2em 0 .5em 0;
  line-height: 150%;
}

.slide ul ul,
.slide ul ol {
  font-size: 100%;
  line-height: 100%;
}

.slide .small {
  font-size: 90%;
  font-weight: normal;
}

.slide .small * {
  font-size: 100%;
  font-weight: normal;
}

/**
 * -------------------------
 * @section 3. HEADER
 * -------------------------
 */

.main-header a,
.main-header h1 {
  color: #efeee3;
  font-family: "bello-pro-1", "bello-pro-2", sans-serif;
  font-size: 3vh;
  font-weight: 300;
  -webkit-font-feature-settings: "liga", "dlig", "c2sc";
  -moz-font-feature-settings: "liga", "dlig", "c2sc";
  font-feature-settings: "liga", "dlig", "c2sc";
  margin: .67em 0;
  text-rendering: optimizelegibility;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2),
               2px 2px 2px rgba(0, 0, 0, .2);
}

.main-header a {
  display: inline-block;
}


/**
 * -------------------------
 * @section 4. VOLET
 * -------------------------
 */

#volet {
  background: #fff;
}

/**
 * -------------------------
 * @section 5. TOOLBAR
 * -------------------------
 */

/** @subsection 5.1 NAVIGATION ELEMENTS **/

.select-goto {
  border: 0;
  border-radius: 50px;
  color: #032c36;
  display: inline-block;
  float: none;
  margin: 0 1em 0 0;
  padding: .46em .5em;
  transition: all .3s ease-in;
  vertical-align: middle;
}

.slide-counter {
  position: static;
}

#cpt > div {
  background: linear-gradient(105deg, #fff 0%, #fff 50%, #efeee3 50%, #efeee3 100%);
  border-radius: 50px;
  height: auto;
  padding: .46em .5em;
  width: auto;
}

.slide-counter-current {
  color: #c42419;
}

.btn,
.related a,
.slide-counter > div {
  border-radius: 50%;
  color: #032c36;
  display: table-cell;
  height: 2rem;
  padding: 0;
  text-decoration: none;
  vertical-align: middle;
  width: 2rem;
}

.btn:hover,
.btn:focus,
.related a:hover,
.related a:focus,
.select-goto:hover,
.select-goto:focus {
  box-shadow: 0 0 0 .3em rgba(0, 0, 0, .3);
}

.slide-counter > div {
  background: #efeee3;
}

.select-goto:hover,
.select-goto:focus {
  background: #fff;
}

.btn[disabled="disabled"] {
  opacity: .5;
}

.btn[disabled="disabled"]:hover,
.btn[disabled="disabled"]:focus {
  box-shadow: none;
  cursor: default;
}

/*
* @bug Les button et type=button ont des bordures (voir dans base.css button::-moz-focus-inner,)
* @affected Firefox
* @see http://davidwalsh.name/firefox-buttons
*/
.btn::-moz-focus-inner,
.btn::-moz-focus-inner,
.btn::-moz-focus-inner {
  border: 0;
  margin: 0;
  outline: none;
  padding: 0;
}

/** @subsection 5.2 RELATED LINKS **/
#navbar li,
.related li {
  display: inline-block;
  float: none;
  margin-left: 1em;
  vertical-align: middle;
}

li.tool-bar-elt,
div.tool-bar-elt {
  height: auto;
  overflow: visible;
}

button.tool-bar-elt {
  height: 2rem;
  overflow: visible;
}

/**
 * -------------------------
 * @section 6. PAGINATION SLIDE LINEAR LAYOUT
 * -------------------------
 */

.index {
  padding-top: 15px;
  border-radius: 0;
}

.index span {
  padding: 0;
  color: #fff;
  background-color: #032c36;
}

/**
 * -------------------------
 * @section 7. SLIDES
 * -------------------------
 */
.slide {
  max-height: 77vh;
  overflow-y: auto;
  padding: 2em;
  top: 2vh;
}

.modeplan #wrapper,
body > :not(.modeplan) .slide {
  background: #efeee3;
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 0 7px rgba(0, 0, 0, .2);
}


/** @subsection 7.1 COLUMN **/

/** @subsection 7.2 FREAKY DISC **/

.list-disc {
  padding: 0;
}

.list-disc li {
  list-style: none;
}

button.disc {
  display: block;
  width: 100%;
  border: 0;
  padding-top: 85px;
}

button.disc1 {
  background: transparent url("../img/disc_1_gray.png") center top no-repeat;
}

button.disc1:hover,
button.disc1:focus {
  background: transparent url("../img/disc_1.png") center top no-repeat;
}

/**
 * -------------------------
 * @section 8. TOOL BLOCK (SUMMARY & CONFIG)
 * -------------------------
 */

.tool-block {
  background-color: #b31d14;
  background-image: linear-gradient(to bottom, #c42419 0%, #a1160f 100%);
  border-top: 1px solid #d7665e;
  color: #efeee3;
  outline: 1px solid #000;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2),
               2px 2px 2px rgba(0, 0, 0, .2);
  transition: outline .3s ease-in;
}

.tool-block-title {
  color: #efeee3;
  font-family: "bello-pro-1", "bello-pro-2", sans-serif;
  font-size: 1.2em;
  margin-left: 1.5em;
}

#Ct {
  margin-left: 2.6em;
}

.tool-block li,
.tool-block label,
.tool-block select {
  color: #fff;
  font-size: .75em;
  font-weight: 500;
}

.tool-block select {
  color: #01171d;
}

.tool-block button {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2),
               2px 2px 2px rgba(0, 0, 0, .2);
  transition: all .3s ease-in;
  vertical-align: top;
}

.tool-block button:hover,
.tool-block button:focus {
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .5),
               2px 2px 2px rgba(0, 0, 0, .5);
  transition: all .3s ease-out;
}

#FormConfig {
  margin-left: 1.3em;
}

/** @subsection 8.1 TOOLS ELEMENTS **/

.tool-block-settings fieldset {
  border: 0;
  font-size: 1em;
}

.tool-block-settings legend {
  font-family: "bello-pro-1", "bello-pro-2", sans-serif;
  font-size: 1.5em;
}

.help {
  border-radius: 5px;
  background: #fff;
  color: #032c36;
  font-weight: 500;
  text-shadow: none;
}

.tool-block button:hover,
.tool-block button:focus {
  color: #fff;
}

.btn-setting {
  background-color: #032c36;
  background-image: linear-gradient(to bottom, #9fb8d5 0%, #02181e 100%);
  background-size: auto 300%;
  background-position: 0 50%;
  border: 1px solid #000;
  box-shadow: inset 1px 1px 0 rgba(255, 255, 255, .25);
  color: #fff !important;
  font-weight: 500;
  padding: .75em 1em;
  text-decoration: none !important;
  text-shadow: 1px 1px rgba(0, 0, 0, .25);
  transition: all .3s linear;
}


.btn-setting:hover,
.btn-setting:focus {
  background-color: #02181e;
  background-position: 0 100%;
}

.btn-setting:active {
  background-color: #04404e;
  background-position: 0 0;
}

/**
 * -------------------------
 * @section 9. CSS TRANSITIONS
 * -------------------------
 */

/** @subsection 9.1 KEYFRAMES **/
@-webkit-keyframes move-up {
  from {
    -webkit-transform: translateY( 100% ) translateZ( 0 );
    opacity: 0;
  }
}

@keyframes move-up {
  from {
    transform: translateY( 100% ) translateZ( 0 );
    opacity: 0;
  }
}

#wrapper {
  -webkit-animation: move-up 800ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
   animation: move-up 800ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

/** @subsection 9.2 SLIDING **/
[data-effect="ffoodd"] .slide {
  display: block !important;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: transform-origin 800ms cubic-bezier(.26, .86, .44, .985),
              transform 800ms cubic-bezier(.26, .86, .44, .985),
              visibility 800ms cubic-bezier(.26, .86, .44, .985),
              opacity 800ms cubic-bezier(.26, .86, .44, .985);
}

[data-effect="ffoodd"] .slide[style*="display: none"] {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  -webkit-transform: translate3d(-150%, 0, 0);
  transform: translate3d(-150%, 0, 0);
  visibility: hidden;
}

[data-effect="ffoodd"] .slide[style*="display: block"] {
  opacity: 1;
  position: relative;
  visibility: visible;
}

[data-effect="ffoodd"] .slide[style*="display: block"] ~ .slide[style*="display: none"] {
  -webkit-transform: translate3d(150%, 0, 0);
  transform: translate3d(150%, 0, 0);
}
/* fin des transitions made by ffoodd */


@media screen and (min-width: 48em) {

  h2 {
    float: left;
    margin-bottom: .5em;
  }

  h2 + * {
    clear: both;
  }

  h3 {
    float: left;
    margin-bottom: 1em;
  }

  h3 + * {
    clear: both;
  }

  .col-left {
    float: left;
    width: 50%;
    padding: 0 5% 0 0;
  }

  .col-right {
    float: right;
    width: 50%;
    padding: 0 0 0 5%;
  }

  .list-disc li {
    float: left;
    width: 25%;
  }

}

@media screen and (max-width: 48em) and (min-width:24em) {

  .list-disc li {
    float: left;
    width: 50%;
  }

}

@media screen and (max-width: 48em) {

  .main-header h1 {
    font-size: 80%;
  }

  .main-header {
    padding: 1em;
  }

}

